<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569391220594-fthpn132prvfg0ijait1luqcutlmr913.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569391220594-fthpn132prvfg0ijait1luqcutlmr913</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>569391220594-h869q3msduikgmj4fv3tq44dhcivej1c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArz8RzGszaUyLNud5SsMoscrUII7j4KOU</string>
	<key>GCM_SENDER_ID</key>
	<string>569391220594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.ddd.CupcakeShopApp</string>
	<key>PROJECT_ID</key>
	<string>junction-15422</string>
	<key>STORAGE_BUCKET</key>
	<string>junction-15422.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569391220594:ios:e04aa3a03d9d4e37</string>
	<key>DATABASE_URL</key>
	<string>https://junction-15422.firebaseio.com</string>
</dict>
</plist>